<div class="series-details">
    <h3>{{title}}</h3>
    <img {{bind-attr src="coverUrl"}} alt="Series's first album cover" class="cover"/>
    <dl class="description">
        <dt>scriptwriter</dt>
        <dd>{{scriptwriter}} </dd>
        <dt>illustrator</dt>
        <dd>{{illustrator}}</dd>
        <dt>publisher</dt>
        <dd>{{publisher}}</dd>
    </dl>
    <p class="summary">
      {{summary}}
    </p>
</div>
