<div class="series">
    <h2>Comic Series</h2>

    {{input type=text value=filter class="filter"}}
    <button {{action "sort"}} {{bind-attr class=":sort sortAscending:asc:desc"}}></button>

    <ul class="series-list">
      {{#each series in filteredModel}}
          <li class="series-item">
            {{#link-to 'series.seriesItem' series title=series.title}}
              {{series.title}}
            {{/link-to}}
          </li>
      {{/each}}
        <li class="series-item">
          {{#link-to 'series.create' class="add"}}{{/link-to}}
        </li>
    </ul>

    <span>Number of series: {{filteredModel.length}}</span>
</div>

{{outlet}}
