<div class="series">
    <h2>Comic Series</h2>

    {{input type=text value=filter class="filter"}}
    <button {{action "sort"}} {{bind-attr class=":sort sortAscending:asc:desc"}}></button>

    <ul class="series-list">
      {{#each filteredModel}}
          <li class="series-item">
            {{#link-to 'series.seriesItem' this title=title}}
              {{title}}
            {{/link-to}}
          </li>
      {{/each}}
    </ul>

    <span>Number of series: {{filteredModel.length}}</span>
</div>

{{outlet}}
